<div class="container-about">
  <div class="apresentation">
    <span class="about">Sobre mim</span>
    <div class="columns">
    <div class="first-column">
    <span>Olá! Sou o Nicolas Samuel Ivanoff, tenho 25 anos e estou cursando o penúltimo semestre do curso de Sistemas de Informação na Faccat.</span>
    <span>Com quase 3 anos de experiência na <a href="https://www.panvel.com/">Panvel</a>, tive a oportunidade de aprimorar minhas habilidades em desenvolvimento web.</span>
    <span>Estou sempre em busca de aprender algo novo e disposto a compartilhar meus conhecimentos com os outros.</span>
    </div>
    <div class="second-column">
    <span>Ao longo desses 2 anos e 8 meses, aprofundei-me significativamente em Angular 5 e Angular 13, adquirindo conhecimentos sólidos em conceitos como NGRX e Observables.</span>
    <span>Além disso, possuo experiência prática em desenvolvimento de lazy modules para melhorar o desempenho e a escalabilidade de aplicativos Angular.</span>
    <span>Tenho conhecimento sobre testes unitários para garantir a qualidade do código utilizando ferramentas como Jasmine e Karma.</span>
    <span>Também tenho conhecimento em testes end-to-end (E2E) utilizando o framework Cypress, garantindo a integridade das aplicações.</span>
    </div>
    </div>
  </div>
</div>
