#container-about {
  background-color: #15191c;
  position: relative;
  width: 100vw;
  height: 100vh;
  color: white;
}

.apresentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 10vw 0 10vw;
}

.about {
  font-size: 1.5em;
  margin-bottom: 5vh;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  text-align: justify;
}

.first-column {
  width: 40vw;
}

.second-column {
  width: 40vw;
}
