.base {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 10px);
  height: 8vh;
  position: fixed;
  z-index: 9;
  background-color: #15191c;
  box-shadow: white 0 0 5px 0;
}

.container-header {
  display: flex;
  width: 50vw;
  padding-right: 3vw;
  justify-content: flex-end;
}

button {
  color: white;
  cursor: pointer;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

header a:hover {
  scroll-behavior: smooth;
}

.mat-menu-button {
  position: absolute;
  right: 10px;
  top: 10px;
}

.desktop-layout {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media (max-width: 768px) {
  .mat-menu-button {
    display: block;
  }
}

mat-icon {
  color: white;
  cursor: pointer;
}

.fa-solid {
  color: white;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .desktop-layout {
    display: none;
  }
  .container-header {
    padding-right: 0;
  }
  .base{
    width: calc(100% - 3px);
  }
}

@media screen and (min-width: 769px) {
  .mobile-layout {
    display: none;
  }
}
