<div id="container-projects">
  <span class="projects-title in-view">Projetos desenvolvidos por mim</span>
  <div class="projects">
    <div class="project-bus">
      <div class="focus">
        <a href="https://github.com/NicolasSIvanoff/Query-DataPoa" target="_blank">Visite meu projeto no GitHub</a>
      </div>
    </div>
    <div class="project-rick">
      <div class="focus">
        <a href="https://github.com/NicolasSIvanoff/RickAndMortyApi" target="_blank">Visite meu projeto no GitHub</a>
      </div>
    </div>
  </div>
</div>

