<app-header></app-header>

<div class="container-main">
  <div class="section-divider">
    <section>
      <app-initial></app-initial>
    </section>
    <div class="polygon"></div>
  </div>
  <div class="section-divider">
  <section>
    <app-about-me></app-about-me>
  </section>
    <div class="polygon invert"></div>
  </div>
  <div class="section-divider">
    <section>
      <app-skills></app-skills>
    </section>
    <div class="polygon"></div>
  </div>
  <div class="section-divider">
    <section>
      <app-projects></app-projects>
    </section>
  </div>
</div>
<div class="copyright">
  <span class="text-copy"> © Copyright 2024 - <a href="https://www.linkedin.com/in/nicolas-ivanoff-a253a2257/" target="_blank">Nicolas Ivanoff</a> </span>
</div>
