<app-header></app-header>

<div class="container-main">
  <div class="section-divider">
    <section>
      <app-initial></app-initial>
    </section>
    <div class="polygon"></div>
  </div>
  <div class="section-divider">
  <section>
    <app-about-me></app-about-me>
  </section>
    <div class="polygon invert"></div>
  </div>
  <div class="section-divider">
    <section>
      <app-skills></app-skills>
    </section>
    <div class="polygon"></div>
  </div>
  <div class="section-divider">
    <section>
      <app-projects></app-projects>
    </section>
    <div class="polygon invert"></div>
  </div>

</div>
