section {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.polygon {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 150px;
  background-color: #15191c;
  clip-path: polygon(0% 60%, 0% 100%, 110% 100%);
}

.invert {
  clip-path: polygon(0% 0%, 100% 0%, 129% 100%);
  bottom: -149px;
  z-index: 1;
}

.section-divider {
  width: 100%;
  position: relative;
}


