<div id="container-skills">
<span class="skills-title"> Habilidades</span>
<div class="skills">
  <div class="carrossel">
    <img src="./assets/images/carousel-images/angular.webp" alt="Angular logo">
    <img src="./assets/images/carousel-images/css-3.webp" alt="Css-3 logo">
    <img src="./assets/images/carousel-images/html-5.webp" alt="Html-5 logo">
    <img src="./assets/images/carousel-images/bootstrap.webp" alt="Bootstrap logo">
    <img src="./assets/images/carousel-images/bard.webp" alt="Bard logo">
    <img src="./assets/images/carousel-images/typescript.webp" alt="Typescript logo">
    <img src="./assets/images/carousel-images/chat-gpt.webp" alt="Chat-gpt logo">
    <img src="./assets/images/carousel-images/cli.webp" alt="Angular cli logo">
    <img src="./assets/images/carousel-images/angular.webp" alt="Angular logo">
    <img src="./assets/images/carousel-images/css-3.webp" alt="Css-3 logo">
    <img src="./assets/images/carousel-images/html-5.webp" alt="Html-5 logo">
    <img src="./assets/images/carousel-images/bootstrap.webp" alt="Bootstrap logo">
    <img src="./assets/images/carousel-images/bard.webp" alt="Bard logo">
    <img src="./assets/images/carousel-images/typescript.webp" alt="Typescript logo">
    <img src="./assets/images/carousel-images/chat-gpt.webp" alt="Chat-gpt logo">
    <img src="./assets/images/carousel-images/cli.webp" alt="Angular cli logo">
    <img src="./assets/images/carousel-images/angular.webp" alt="Angular logo">
    <img src="./assets/images/carousel-images/css-3.webp" alt="Css-3 logo">
    <img src="./assets/images/carousel-images/html-5.webp" alt="Html-5 logo">
    <img src="./assets/images/carousel-images/bootstrap.webp" alt="Bootstrap logo">
    <img src="./assets/images/carousel-images/bard.webp" alt="Bard logo">
    <img src="./assets/images/carousel-images/typescript.webp" alt="Typescript logo">
    <img src="./assets/images/carousel-images/chat-gpt.webp" alt="Chat-gpt logo">
    <img src="./assets/images/carousel-images/cli.webp" alt="Angular cli logo">
  </div>
  <div class="carrossel">
    <img src="./assets/images/carousel-images/github.webp" alt="Github logo">
    <img src="./assets/images/carousel-images/material.webp" alt="Angular material logo">
    <img src="./assets/images/carousel-images/lighthouse.webp" alt="Lighthouse logo">
    <img src="./assets/images/carousel-images/node-js.webp" alt="node-js logo">
    <img src="./assets/images/carousel-images/rxjs.webp" alt="Rxjs logo">
    <img src="./assets/images/carousel-images/sass.webp" alt="Sass logo">
    <img src="./assets/images/carousel-images/npm.webp" alt="Npm logo">
    <img src="./assets/images/carousel-images/virtual-studio-code.webp" alt="VS code logo">
    <img src="./assets/images/carousel-images/github.webp" alt="Github logo">
    <img src="./assets/images/carousel-images/material.webp" alt="Angular material logo">
    <img src="./assets/images/carousel-images/lighthouse.webp" alt="Lighthouse logo">
    <img src="./assets/images/carousel-images/node-js.webp" alt="node-js logo">
    <img src="./assets/images/carousel-images/rxjs.webp" alt="Rxjs logo">
    <img src="./assets/images/carousel-images/sass.webp" alt="Sass logo">
    <img src="./assets/images/carousel-images/npm.webp" alt="Npm logo">
    <img src="./assets/images/carousel-images/virtual-studio-code.webp" alt="VS code logo">
    <img src="./assets/images/carousel-images/github.webp" alt="Github logo">
    <img src="./assets/images/carousel-images/material.webp" alt="Angular material logo">
    <img src="./assets/images/carousel-images/lighthouse.webp" alt="Lighthouse logo">
    <img src="./assets/images/carousel-images/node-js.webp" alt="node-js logo">
    <img src="./assets/images/carousel-images/rxjs.webp" alt="Rxjs logo">
    <img src="./assets/images/carousel-images/sass.webp" alt="Sass logo">
    <img src="./assets/images/carousel-images/npm.webp" alt="Npm logo">
    <img src="./assets/images/carousel-images/virtual-studio-code.webp" alt="VS code logo">
    <img src="./assets/images/carousel-images/github.webp" alt="Github logo">
    <img src="./assets/images/carousel-images/material.webp" alt="Angular material logo">
    <img src="./assets/images/carousel-images/lighthouse.webp" alt="Lighthouse logo">
    <img src="./assets/images/carousel-images/node-js.webp" alt="node-js logo">
    <img src="./assets/images/carousel-images/rxjs.webp" alt="Rxjs logo">
    <img src="./assets/images/carousel-images/sass.webp" alt="Sass logo">
    <img src="./assets/images/carousel-images/npm.webp" alt="Npm logo">
    <img src="./assets/images/carousel-images/virtual-studio-code.webp" alt="VS code logo">
  </div>
</div>
</div>

