<div id="container-skills">
  <span class="skills-title" animationSkills> Habilidades</span>
  <div class="skills">

    <div class="carrossel">
      <img *ngFor="let image of carrossel1" [src]="image.src" [alt]="image.alt" [title]="image.description">
      <img *ngFor="let image of carrossel1" [src]="image.src" [alt]="image.alt" [title]="image.description">
      <img *ngFor="let image of carrossel1" [src]="image.src" [alt]="image.alt" [title]="image.description">
    </div>
    <div class="carrossel">
      <img *ngFor="let image of carrossel2" [src]="image.src" [alt]="image.alt" [title]="image.description">
      <img *ngFor="let image of carrossel2" [src]="image.src" [alt]="image.alt" [title]="image.description">
      <img *ngFor="let image of carrossel2" [src]="image.src" [alt]="image.alt" [title]="image.description">
    </div>
  </div>
</div>

