html, body {
  overflow-x: hidden;
  margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #15191c;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 5px;
  width: 10px;
  z-index: 1;
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-thumb {
    width: 3px;
  }
}
